{% extends "Admin_base.html" %} {% block content %}

<!--////////////////////Created by Omkar G. Date - 17/8/2020 /////////////////////// -->
<div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-rose card-header-icon">
              <div class="card-icon">
                <i class="material-icons">assignment</i>
              </div>
              <h4 class="card-title">Disease List</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">

                <table class="table">
                  <thead>
                    <tr>
                      <th class="text-center">Sr No.</th>
                      <th>Disease Name</th>
                      <th class="text-right">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for disease in diseaseArray  %}
                    <tr>
                      <td class="text-center"></td>
                      <td>{{disease["name"]}}</td>
                      <td class="td-actions text-right">
                        <a href="/update_solutions/{{disease.name}}" ><button type="submit" class="btn btn-primary btn-round">Update</button></a>
                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>


{% endblock %}