{% extends "Admin_base.html" %} {% block content %}

<!---------------------------Created By Omkar Gawali-------------------------------------->
<div class="container-fluid">

<section class="blog-single section">
                <div class="container" >
                                <div class="row">
                                    <div class="col-2"></div>
                                    <div class="col-8">
                                        <div class="image">
                                            <img src="{{ url_for('static', filename='posts/'+post.post_filename) }}" alt="#">
                                        </div>
                                        <div class="blog-detail">
                                            <h2 class="blog-title">{{post.post_heading}}</h2>
                                            <div class="blog-meta">
                                                <span class="author"><a href="#"><i class="fa fa-user"></i>By {{post.post_author}}</a><a href="#"><i class="fa fa-calendar"></i>{{post.post_date}}</a><a href="#"></span>
                                            </div>
                                            <div class="content">
                                                {{post.post_data}}
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-2"></div>
                                </div>
                                <div class="row">
                                    <div class="col-2"></div>
                                    <div class="col-md-8">
                                        <div class="form-group button">
                                            <a href="/admin_post_list" class="btn">Show Posts</a>
                                        </div>
                                    </div>
                                    <div class="col-2"></div>
                                </div>
                </div>
</section>
</div>

{% endblock %}